@using CampoVerde.Models
@model CampoVerde.Models.Animal

@{
    ViewData["Title"] = "Crear Animal";
}


@using (Html.BeginForm("Create", "Animal", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.codigo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaNacimiento, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.fechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.raza, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.raza, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.raza, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
            <select asp-for="Estado" class="form-control" name="Estado">
                @foreach (var e in Enum.GetValues(typeof(EstadoAnimal)))
                {
                    <option value="@((int)e)">@e</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
